{% extends "base.html" %} {% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Home</h3>

<section>
    <!-- This is the hero image -->
    <div id="hero-outer">
        <div>
            <img id="hero-image" class="responsive-img" src="{{ url_for('static', filename='/images/heroimage.webp') }}"
                alt="Pen-Ffordd-Goch Pond" />
        </div>
        <div id="cover-text">
            <h2>Dŵr Agored</h2>
        </div>
    </div>
</section>
<br />

<!-- About section -->
<section>
    <div id="about">
        <h3 class="light-blue-text text-darken-4 center-align">About Dŵr Agored</h3>
        <h5 class="light-blue-text text-darken-3 center-align">
            Are you a cold water swimmer based in South Wales? Dŵr Agored (Open Water)
            is a resource for cold water swimmers to share and browse swims. As a cold
            water swimmer myself, I know sometimes it is hard to find the right
            location.
        </h5>
    </div>
</section>

{% endblock %}